.container{

   height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
  font-weight: bold; 
  font-size: 22px; 
}



.links{
    display: flex;
    gap:20px;
    align-items: center;
}

.logout{
    padding: 5px;
    border: none;
    background-color: #53c28b;
    color: white;
    cursor:pointer;
    border-radius: 3px;
}